*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
}
.container{
    background-color: lightsalmon;
    display: flex; 
    min-height: 100vh;
    gap: 50px;
}

.sidepanel{
    width: 200px;
    height: 100vh   ;
    background-color: black;
}

input{
    width: 100px;
}



.registerTitle{
    text-align: center;
}
.outerForm{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.innerForm{
    border: 2px solid black;
}
.form{
    display: flex;
    flex-direction: column;
}



.sexOption{
    display: flex;
    flex-direction: row;
    
}








.viewTitle{
    text-align: center;
}
.viewTable{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
.viewTable th, td{
    border: 1px solid black;
}
.viewTable img{
    width: 20%;
    border-radius: 50%;
    border: 2px solid black;
}







.detailedViewTitle{
    text-align: center;
}

.detailedViewTable{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.detailedViewTable th, td{
    border: 1px solid black;
}

.detailedViewTable img{
    width: 20%;
    border-radius: 50%;
    border: 2px solid black;
}